* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pathway-container {
  margin-top: 6%;
  position: relative;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.pathImg {
  margin-top: 7%;
  background: url("/public/assets/GamePage/path.png") repeat;
  background-size: contain;

  width: 100%;
  height: 40%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.player,
.zombie,
.house {
  position: absolute;
  bottom: 20px;
  height: 80px;
  transition: left 0.5s linear;
  z-index: 2;
}
.player {
  left: 0;
}

.house {
  right: 0;
  height: 90px;
  bottom: 30px;
  z-index: 1;
  border-radius: 10%;
}

.countdown-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #39ff14;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  z-index: 10;
  animation: fade 1s ease-in-out infinite;
  font-family: "Fredericka the Great", serif;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
